__pycache__/
*.pyc
logs/
dbt_venv/
Flights_dbt_proj/logs/
Flights_dbt_proj/dbt_packages/
Flights_dbt_proj/package-lock.yml
Flights_dbt_proj/target/
Flights_dbt_proj/dbt_internal_packages/
airflow/airflow/airflow.cfg
airflow/airflow/airflow.db
airflow/airflow/airflow.db-shm
airflow/airflow/airflow.db-wal
airflow/airflow/simple_auth_manager_passwords.json.generated
airflow/.env
airflow/dbt_profiles
airflow/airflow/data
airflow/data
airflow/snowflake_sql/SETUP/02_storage_integration